/* Design for second section */
.details-main {
    margin-top: 25px;
}

.details-main>div {
    display: flex;
    position: relative;
}

.details-main .title-details {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-right: 35px;
    text-transform: capitalize;
    white-space: nowrap;
    border-right: 2px solid var(--notiBackground);
}

.details-main .information-datails {
    font-size: 18px;
    padding: 10px 270px 10px 30px;
}

.details-main .box-details {
    position: absolute;
    background-color: var(--mainRed);
    font-size: 17.5px;
    right: 1.5%;
    top: -75px;
    max-width: 250px;
    padding: 30px 22px;
    background-image: url(../assets/main/fire-flame.svg);
    background-position: 107% bottom;
    background-repeat: no-repeat;
    background-size: 140px;
    color: var(--mainWhite);
}

.box-details p {
    margin-bottom: 14px;
}

.box-details a {
    color: var(--mainWhite);
    font-size: 14px;
}



@media screen and (max-width:980px) {

    /* the second section in the main */
    .details-main>div {
        display: inline-block;
    }

    .details-main .title-details {
        padding-right: 0;
        line-height: 0;
        justify-content: center;
        border: 0;
        padding: 20px;
    }

    .details-main .information-datails {
        font-size: 16px;
        padding: 0;
        margin-bottom: 20px;
    }

    .details-main .box-details {
        position: static;
        line-height: 30px;
        max-width: 100%;
        background-position: 98% bottom;
        background-size: 125px;
    }

}