/* Header for the website */
/* First component in the header */

.notification-bar {
    background-color: var(--notiBackground);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.notification-bar a {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--blackText);
}

/* second component for the header */

.contact {
    background-color: var(--contactColor);
    color: var(--mainTextColor);
}

.contact>div {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 1.5%;
}

.contact p {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
}

.rep,
.parts {
    margin-right: 4%;
}


/* third component for the header */
nav {
    box-shadow: 0 -1px 6px rgba(0, 49, 80, 0.15);
    border-bottom: 6px solid var(--mainRed);
    position: relative;
}

nav>div {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
}

.logo {
    display: flex;
    align-items: center;
}

.menu li a {
    margin: 5px;
    padding: 0px 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
    display: flex;
}



/* responsive */
.connect-rep-part,
.menu i,
#sidebar-active,
.burger-btn,
.close-sidebar {
    display: none;
}


/* menu mega  */
nav li:hover,
nav .search:hover {
    border-bottom: 2px solid var(--mainTextColor);
}

.mobile-item,
#showMega {
    display: none;
}

.products:hover .mega-box {
    transition: all 1s ease;
    opacity: 1;
    display: flex;
    visibility: visible;
}

.mega-box {
    transition: all 1s opacity;
    opacity: 0;
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    background-color: white;
    width: 100%;
    height: 460px;
}

.mega-box>div {
    padding: 0;
    position: relative;
    /* display: flex; */
}


.sub1-menu {
    position: absolute;
    padding: 2% 2%;
    height: 470px;
    border: none;
    border-left: 2px solid var(--notiBackground);
    border: none;
    width: 73%;
    background-color: white;
}


.sub2-menu {
    position: absolute;
    padding: 3% 1%;
    height: 470px;
    border: none;
    border-left: 2px solid var(--notiBackground);
    top: 0;
    left: 36%;
    width: 66%;
    display: none;
    background-color: white;
}


.sub3-menu {
    position: absolute;
    padding: 5% 2%;
    height: 470px;
    border: none;
    border-left: 2px solid var(--notiBackground);
    top: 0;
    left: 50%;
    width: 50%;
    display: none;
    opacity: 0;
    background-color: white;
    /* padding-top: 4%; */
}

.mega-box ul {
    display: flex;
    flex-direction: column;
}

.mega-box ul li {
    padding: 3px 0px;
    border: 0;
}

.mega-box ul li a {
    text-transform: capitalize;
}

.mega-box ul li:hover>a {
    color: var(--notiBackground);
}

.mega-box .img-menu {
    position: absolute;
    height: 470px;
    flex-direction: column;
    width: 27%;
    background-color: rgba(215, 211, 199, 0.5);
    position: absolute;
    right: 0;
}

.mega-box .img-menu h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
    text-transform: none;
    padding: 28px;
}

.mega-box .img-menu a {
    color: rgb(149, 165, 166);
    padding-top: 10px;
    text-transform: none;
    padding-left: 25px;
}

.mega-box img {
    width: 85%;
    height: 250px;
    object-fit: cover;
    margin-left: 14%;
}

.boilers:hover .sub2-menu,
.firetube:hover .sub3-menu {
    display: inline-block;
    opacity: 1;
}

/* .firetube:hover .sub3-menu {
    display: inline-block;
    opacity: 1;
} */

.mega-box i {
    display: inline;
}


/* end mega */

.search {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
    display: flex;
    align-items: center;
    margin-right: 2%;
    gap: 5px;
    text-transform: uppercase;
    padding-top: 10px;
}

.search p {
    color: var(--mainTextColor);
}

.search-mobile {
    margin-top: 3%;
}


/* How the website react with small devices */
@media screen and (max-width:800px) {

    .contact,
    .search p {
        display: none;
    }

    nav {
        position: static;
    }


    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        /* background-color: red; */
        background-color: white;
        width: 85%;
        /* height: 100vh; */
    }

    nav li {
        padding: 20px 5px;
        width: 100%;
        border-bottom: 2px solid var(--notiBackground);
        height: auto;
        /* background-color: black; */
    }

    nav li:hover {
        background-color: rgba(151, 151, 151, 0.5);
        border-bottom: 0px solid transparent;
    }

    .menu i {
        display: inline;
        color: var(--mainTextColor);
    }

    ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connect-rep-part {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .rep-menu,
    .parts-menu {
        padding: 20px 8px;
    }

    /* .parts-menu {
        padding: 28px;
    } */

    .connect-rep-part p {
        display: inline;
        font-size: 1.1em;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: var(--mainTextColor);
    }


    /* mega on mobile */

    .products:hover .mega-box {
        display: flex;
        opacity: 1;
        position: absolute;
        top: 80px;
        /* width: 120%; */
        /* background-color: blue; */
    }

    .products:hover .sub1-menu {
        /* padding: 20px; */
        width: 100%;
        /* background-color: red; */
    }

    .products:hover .sub1-menu li {
        padding: 18px 30px;
        width: 117.3%;
        height: inherit;
        /* background-color: red; */
        background-color: white;
    }

    .products:hover .sub1-menu li:hover {
        background-color: cornflowerblue;
    }

    .boilers:hover .sub2-menu,
    .firetube:hover .sub3-menu {
        display: none;
        opacity: 0;
    }

    /* 
    .firetube:hover .sub3-menu {
        display: none;
        opacity: 0;
    } */

    .mega-box .img-menu,
    .mega-box i {
        display: none;
    }

    /* 
    .mega-box i {
        display: none;
    } */

    .products:hover li.nav {
        border-bottom: 0 solid transparent;
    }


    /* .products:focus .mega-box{
        display: flex;
        opacity: 1;
        visibility: visible;
    } */

    /* menu header */

    .menu-header {
        display: flex;
        /* align-items: center; */
        /* background-color: red; */
        width: 100%;
        border-bottom: 3px solid var(--mainRed);
        /* background-color: yellow; */
        background-color: white;
    }


    .close-sidebar {
        display: flex;
        align-items: center;
        /* padding-left: 6%; */
        padding-left: 20px;
        padding-top: 4%;
        margin-bottom: 4%;
    }

    #sidebar-active:checked~ul {
        display: flex;
    }

    #sidebar-active:checked~#overlay {
        background-color: var(--overlayColor);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }

    nav {
        box-shadow: 0 0 0 0;
        /* To remove shadow in responsive-side */
    }

    .burger-btn {
        display: inline-block;
        align-items: center;
        margin-top: 1%;
    }


    .logo {
        display: block;
        /* To center the logo when became mobile */
        margin: 0 auto;
    }

    .search-mobile {
        margin-left: 6%;
        margin-bottom: 20%;
    }


}