/* Header for the website /////////////*/
/* First component in the header */

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.notification-bar {
    background-color: var(--notiBackground);
    text-align: center;
    font-size: 14px;
}

.notification-bar a {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--blackText);
}

/* second component for the header */

.contact {
    background-color: var(--contactColor);
    color: var(--mainTextColor);
}

.contact>div {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 1.5%;
}

.contact p {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--mainTextColor);
}

.rep,
.parts {
    margin-right: 4%;
}


/* third component for the header */
nav {
    box-shadow: 0 -1px 6px rgba(0, 49, 80, 0.15);
    border-bottom: 6px solid var(--mainRed);
    background-color: var(--mainWhite);
    position: relative;
}

nav>div {
    display: flex;
    justify-content: space-around;
}

/* make half border on hover */
.half-border-li{
    position: relative;
}
.half-border-li::before {
    content: "";
    position: absolute;
    bottom: -0.6em;
    left: 10%;
    width: 1.5em;
    border-bottom: 2px solid var(--mainTextColor);
    opacity: 0;
    transition: opacity 0.3s;

}
.menu>li>a:hover .half-border-li::before {
    opacity: 1;
}

.search:hover .half-border-li::before {
    opacity: 1;
}

nav .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
}

.logo {
    display: flex;
    align-items: center;
}


.menu>li>a {
    margin: 5px 15px;
    padding: 34px 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color: var(--mainTextColor);
}

    
#pro-btn,.products label {
    display: none;
}



/* responsive */
.connect-rep-part,
.menu i,
#sidebar-active,
.burger-btn,
.close-sidebar {
    display: none;
}


/* menu mega  */

.products:hover .mega-box {
    transition: all 1s ease;
    opacity: 1;
    display: inline-block;
    visibility: visible;
}

.mega-box {
    transition: all 1s opacity;
    opacity: 0;
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    height: 460px;
    z-index: 100;
}

.mega-box>div {
    padding: 0;
    position: relative;
}


.sub1-menu {
    position: absolute;
    padding: 2.5% 4%;
    height: 470px;
    border: none;
    border-left: 1px solid var(--notiBackground);
    border: none;
    width: 73%;
    background-color: var(--mainWhite);
}


.sub2-menu {
    position: absolute;
    padding: 3.5% 3%;
    height: 470px;
    border: none;
    border-left: 1px solid var(--notiBackground);
    top: 0;
    left: 36%;
    width: 66%;
    display: none;
    background-color: var(--mainWhite);
}


.sub3-menu {
    position: absolute;
    padding: 5.5% 4%;
    height: 470px;
    border: none;
    border-left: 1px solid var(--notiBackground);
    top: 0;
    left: 50%;
    width: 50%;
    display: none;
    opacity: 0;
    background-color: var(--mainWhite);
}

.mega-box ul {
    display: flex;
    flex-direction: column;
}

.mega-box ul li {
    padding: 3px 0px;
    border: 0;
    margin: 0.3em 0;
}

.mega-box ul li a {
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--mainTextColor);

}

.mega-box ul li:hover>a {
    color: var(--hoverTextMega);
}

.mega-box .img-menu {
    position: absolute;
    height: 470px;
    flex-direction: column;
    width: 27%;
    background-color: var(--imgMega);
    position: absolute;
    right: 0;
}

.mega-box .img-menu h2 {
    font-size: 30px;
    font-weight: 600;
    /* font-family: "Roboto", sans-serif; */
    color: var(--mainTextColor);
    text-transform: none;
    padding: 28px;
}

.mega-box .img-menu a {
    color: var(--hoverTextMega);
    padding-top: 2.5em;
    text-transform: none;
    padding-left: 2em;
}

.mega-box img {
    width: 85%;
    height: 250px;
    object-fit: cover;
    margin-left: 14%;
}

.boilers:hover .sub2-menu,
.firetube:hover .sub3-menu {
    display: inline-block;
    opacity: 1;
}

.mega-box i {
    display: inline;
}

/* end mega */

.search {
    font-weight: 700;
    font-size: 1em;
    color: var(--mainTextColor);
    display: flex;
    align-items: center;
    margin-right: 2%;
    margin-top: 2px;
    gap: 5px;
    text-transform: uppercase;

}

.search p {
    color: var(--mainTextColor);
}

.search-mobile {
    margin-top: 3%;
}


@media screen and (min-width:981px) and (max-width:1240px){
    .menu>li>a {
        margin: 5px 5px;
        padding: 32px 0;
        font-weight: 600;
        font-size: 0.9em;
        color: var(--mainTextColor);
    }  
    .search{
        font-size: 0.9em;
    }
}


/* How the website react with small devices */
@media screen and (max-width:980px) {
    .products label {
        display: inline-flex;
    }


    .contact,
    .search p {
        display: none;
    }

   

    nav .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 85%;
        height: 100%;
        padding: 0;
        flex-wrap: nowrap;
        overflow: auto;
        background-color: #f9f8f6;
    }

    .menu>li>a {
        padding: 0;
    }

  
    .sub1-menu {
        width: 100%;
        height: inherit;
        /* background-color: blue; */
    }

  
    .sub1-menu ul {
        padding: 20px;
    }

    .sub1-menu ul li {
        padding: 9px;
        /* background-color: yellow; */
    }
    .boilers:hover .sub2-menu,
    .firetube:hover .sub3-menu {
        display: none;
        opacity: 0;
    }

    

    .products {
        position: relative;
    }

    .products:hover .mega-box {
        display: none;
    }

    .mega-box {
        display: none;
        opacity: 0;
        position: absolute;
        top: -102.5%;
    }

   
    #pro-btn:checked~.mega-box {
        display: flex;
        opacity: 1;
    }
    

    nav .menu>li {
        padding: 10px 5px;
        width: 100%;
        border-bottom: 2px solid var(--notiBackground);
        height: auto;
        background-color: var(--mainWhite);
    }

    

    .menu i {
        display: inline;
        color: var(--mainTextColor);
    }

    ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connect-rep-part {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .rep-menu,
    .parts-menu {
        padding: 25px 8px;
    }


    .connect-rep-part p {
        display: inline;
        font-size: 1.1em;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: var(--mainTextColor);
    }


    /* mega on mobile */

  

    .boilers:hover .sub2-menu,
    .firetube:hover .sub3-menu {
        display: none;
        opacity: 0;
    }


    .mega-box .img-menu {
        display: none;
    }



    /* menu header */

    .menu-header {
        display: flex;
        width: 100%;
        border-bottom: 3px solid var(--mainRed);
        background-color: white;
    }


    .close-sidebar {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-top: 4%;
        margin-bottom: 4%;
    }


    #sidebar-active:checked~ul {
        display: flex;
    }

    #sidebar-active:checked~#overlay {
        background-color: var(--overlayColor);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    nav {
        box-shadow: 0 0 0 0;
        /* To remove shadow in responsive-side */
    }

    .burger-btn {
        display: inline-block;
        align-items: center;
        margin-top: 1%;
    }


    .logo {
        display: block;
        /* To center the logo when became mobile */
        margin: 0 auto;
    }

    .search-mobile {
        margin-left: 7%;
        margin-top: 20%;
    }
    .boilers i {
        display: none;
    }

    .icon-label-mobile {
        display: flex;
        align-items: center; 
        gap: 0.5em; 
        cursor: pointer;
        font-size: 1.5em;
        color: var(--mainTextColor);
    }
    .icon-label-mobile:hover {
        background-color: var(--notiBackground);
    }



}