/* first component in the header */

.notification-bar {
    background-color: var(--notiBackground);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.notification-bar a {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--blackText);
}



/* second component for the header */

.contact {
    background-color: var(--contactColor);
    color: var(--mainTextColor);
}

.contact>div {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 1.5%;
}

.contact p {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
}

.rep,.parts {
    margin-right: 4%;
}


/* third component for the header */


nav {
    box-shadow: 0 -1px 6px rgba(0, 49, 80, 0.15);
    border-bottom: 6px solid var(--mainRed);
    
}

nav > div {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
}

.logo {
    display: flex;
    align-items: center;
}

.menu li a {
    margin: 5px;
    padding: 0px 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
    display: flex;
}



/* responsive */
.connect-rep-part{
    display: none;
}

.menu i{
    display: none;
}

#sidebar-active {
    display: none;
}

.burger-btn {
    display: none;
}

.close-sidebar {
    display: none;
}

/* menu mega */
nav li:hover{
    border-bottom:2px solid red ;
}

/* .menu li:hover .mega-box{
    transition: all 0.3s ease;
    top: 29%;
    opacity: 1;
    visibility: visible;
  }

  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 30px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content-menu{
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content-menu .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  .content-menu .row img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: red;
  }
  .content-menu .row header{
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 500;
  }
  .row i{
    display: inline;
  }
  .content-menu .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #f2f2f2;
  } */

.search {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: var(--mainTextColor);
    display: flex;
    align-items: center;
    margin-right: 2%;
    gap: 5px;
    text-transform: uppercase;
    padding-top: 10px;
}

.search p {
    color: var(--mainTextColor);
}

.search-mobile {
    margin-top: 3%;
}

/* How the website react with small devices */
@media screen and (max-width:800px) {

    .contact,.search p {
        display: none;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: white;
        width: 85%;
    }

    nav li{
        padding: 20px;
        width: 100%;
        border-bottom: 2px solid var(--notiBackground);
        height: auto;
    }
    
    .menu i{
        display: inline;
        color: var(--mainTextColor);
    }
    ul li a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connect-rep-part{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .rep-menu{
        padding: 28px;

        }

    .parts-menu{
        padding: 28px;
    }

    .connect-rep-part p{
        display: inline;
        font-size: 1.1em;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: var(--mainTextColor);
    }


    /* menu header */

    .menu-header{
        display: flex;
        /* align-items: center; */
        /* background-color: red; */
        width: 100%;
        border-bottom:3px solid var(--mainRed) ;
    }
    

    .close-sidebar {
        display: flex;
        align-items: center;
        padding-left: 6%;
        padding-top: 4%;
        margin-bottom: 4%;

    }

    #sidebar-active:checked~ul {
        display: flex;
    }

    #sidebar-active:checked ~ #overlay{
        background-color: rgba(151,151,151,0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }






    nav {
        box-shadow: 0 0 0 0;
    }

    .burger-btn {
        display: inline-block;
        align-items: center;
        margin-top: 1%;
    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    .search-mobile {
        margin-left: 6%;
        margin-bottom: 20%;

    }


}