.industries{
    margin-top: 30px;
}
.industries h2{
    text-align: center;
    font-size: 30px;
}

.rental-industries-cms{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.rental-industries-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.rental-industries-content span{
    color: var(--solutionSpanColor);
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}
.rental-industries-content h3{
    font-size: 23px;
}
.rental-industries-content a{
    font-weight: 600;
    color: var(--mainTextColor);
    align-self: flex-start;
}
.rental-industries-content a:hover{
    opacity: 0.5;
}

.reverse-cms{
    flex-direction: row-reverse;
}
/* media */
@media screen and (max-width:980px){
    .rental-industries-cms{
        flex-direction: column;
    }
}


