/* general properities for the container */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 20px;
    /* border: 3px solid blue; */
}


@media screen and (max-width:800px) {
    .container{
        padding: 10px 20px;
    }
    
}