.recent-viewed-main {
  margin-top: 35px;
}

.recent-viewed-main h2 {
  margin-bottom: 25px;
  text-align: center;
  text-transform: capitalize;
}

.cards-recent {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.arrow-card-right-recent {
  background-color: var(--mainTextColor);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: -1.5%;
  top: 50%;
  color: var(--mainWhite);
}

.arrow-card-left-recent {
  background-color: var(--mainTextColor);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1.5%;
  top: 50%;
  color: var(--mainWhite);
}

.arrow-card-right-recent:hover,
.arrow-card-left-recent:hover {
  opacity: 0.5;
}

.card-recent-style {
  border: 1px solid var(--notiBackground);
  width: 23%;
  background-color: var(--mainWhite);
}

.card-recent-style h4 {
  color: var(--mainTextColor);
}

.card-recent-style img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}

.img-recent {
  position: relative;
}

.content-recent-card {
  width: 80%;
  margin: 10%;
}

.content-recent-card h4 {
  margin-bottom: 25px;
}

.price {
  color: var(--mainTextColor);
  font-size: 14px;
  margin-bottom: 8%;
}

.card-button {
  border: none;
  padding: 12px;
  color: var(--mainWhite);
  background-color: var(--mainTextColor);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
}

.card-recent-style button:hover {
  opacity: 0.8;
}


.do-not-cross {
  left: 0;
  top: 12px;
  position: absolute;
  padding: 8px;
  margin: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(130deg, #ffffff00 35%, rgb(212, 223, 229) 35%);
}


@media screen and (min-width:601px) and (max-width:980px) {
  .recent-main {
    margin-top: 17px;
  }

  .card2,
  .card3 {
    display: none;
  }

  .card-recent-style {
    width: 40%;
  }

  .cards-recent {
    justify-content: space-around;
  }

}

@media screen and (max-width:600px) {

  .recent-main {
    margin-top: 17px;
  }

  .card2,
  .card3,
  .card4 {
    display: none;
  }

  .card-recent-style {
    width: 60%;
  }

  .cards-recent {
    justify-content: center;
  }

}