/* The fourth section */
.solution{
    margin-top: 2em;
}

.solution h2 {
    text-align: center;
    font-size: 1.8em;
}

.rental{
    display: flex;
    padding: 1.8em 0 0.7em;
    gap: 1.5em;
    margin: 0 1.8em 1.2em;
}

.rental img {
    display: inline-block;
    width: 40em;
    height: auto;
}

.rental .rental-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
}

.rental-content span {
    color: var(--solutionSpanColor);
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}

.half-border{
    position: relative;
    display: inline-block;
}

.half-border::before{
    content: "";
    position: absolute;
    bottom: -0.3em;
    left: 0;
    width: 2em;
    border-bottom: 2px solid var(--solutionSpanColor);
}

.rental-content h3 {
    font-size: 1.5em;
}

.rental-content a {
    font-weight: 600;
    color: var(--mainTextColor);
    display: inline-block;
}

.custom {
    display: flex;
    padding: 0 0 0.7em;
    gap: 1.5em;
    margin: 0 1.8em;
}

.custom-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.custom img {
    display: inline-block;
    width: 40em;
    height: auto;
}

.custom-content span {
    color: var(--solutionSpanColor);
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}

.custom-content h3 {
    font-size: 1.5em;
}

.custom-content a {
    font-weight: 600;
    color: var(--mainTextColor);
    display: inline-block;
}





/* How the section react in responsive */
@media screen and (max-width:950px){
    .rental {
        flex-direction: column-reverse;
        margin: 0 1em;
    }
    .rental img {
        width: 100%;
        margin-right: 0;
    }
    .custom {
        flex-direction: column;
        margin: 0 1em;

    }
    .custom img {
        width: 100%;

    }
    .custom .custom-img {
        margin-left: 0;
    }
}