/* The fourth section */
.solution-main{
    margin-top: 2em;
}

.solution-main h2 {
    text-align: center;
    font-size: 1.8em;
}

.rental{
    display: flex;
    gap: 1.5em;
    margin: 1.5em 0;
}

.rental img {
    max-width: 900px;
    height: auto;
}

.rental .rental-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
}

.rental-content span {
    color: var(--solutionSpanColor);
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}

.half-border{
    position: relative;
    display: inline-block;
}

.half-border::before{
    content: "";
    position: absolute;
    bottom: -0.3em;
    left: 0;
    width: 2em;
    border-bottom: 2px solid var(--solutionSpanColor);
}

.rental-content h3 {
    font-size: 1.5em;
}

.rental-content a {
    font-weight: 600;
    color: var(--mainTextColor);
    align-self: flex-start;
}
.rental-content a:hover {
    opacity: 0.5;
}

.custom {
    display: flex;
    gap: 1.5em;
}

.custom-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.custom img {
    max-width: 900px;
    height: auto;
}

.custom-content span {
    color: var(--solutionSpanColor);
    text-transform: uppercase;
    font-weight: 500;
}

.custom-content h3 {
    font-size: 1.5em;
}

.custom-content a {
    font-weight: 600;
    color: var(--mainTextColor);
    align-self: flex-start;
}
.custom-content a:hover {
    opacity: 0.5;
}





/* How the section react in responsive */
@media screen and (max-width:950px){
    .solution-main{
        margin-top: 1em;
    }
    .rental {
        flex-direction: column-reverse;
    }
    .rental img {
        width: 100%;
    }
    .custom {
        flex-direction: column;
    }
    .custom img {
        width: 100%;

    }
}