:root{
    --notiBackground:#D7D3C7;
    --blackText:#1F1F1F;
    --mainTextColor:#003150;
    --mainRed:#AA272F;
    /* --contactColor: rgba(211,222, 228,0.5); */
    --contactColor:rgba(249, 248, 246,0.5);
}

